.titles {
  margin-left: 20px;
}

.profileCard {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 3px rgb(0, 97, 177) solid;
  max-width: 500px;
  margin: 20px;
  background-color: white;
}

.cardImg {
  border-radius: 17px 0 0 17px;
  height: 200px;
  max-width: 200px;
  margin: auto 0;
  background-color: white;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: cornflowerblue;
  width: 100%;
  border-radius: 0 17px 17px 0
}

.cardName {
  font-size: 3em;
  margin: 0;
  padding: 0;
  color:rgb(203, 224, 241)
}

.cardJob {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.skillContainer {
  display: flex;
  flex-direction: row;
}

.cardSkills {
  margin: 0;
}

.cardSkill {
  margin: 0 20px;
}